<footer class="page-footer purple lighten-1">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Grupo 56</h5>
          <p class="grey-text text-lighten-4">Equipo 1</p>
          <p class="grey-text text-lighten-4">MisionTIC 2022</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Miembros</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Diego Claros</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Cristhian Barragan</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">German Zapata</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Alver Vasquez</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Juan Diaz</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Marly Angulo</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2014 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>
